html,
body {
    background: linear-gradient(300deg, deepskyblue, #603ae5);
    animation: gradient-animation 12s ease infinite;
    min-height: 100vh;
    text-align: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-link {
    color: white !important;
}

.parentPool {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pools {
    background-color: aliceblue;
    padding: 1%;
}
